# Ignore all .env files in the project
**/.env

# Ignore node_modules in all folders
node_modules/

# Ignore build outputs
dist/
build/

# Ignore logs
*.log

# Ignore OS/system files
.DS_Store
Thumbs.db
